/*#mainContainer {
    padding-top: 50px;
    padding-bottom: 20px;
}*/

html *
{
   font-family: 'Segoe UI';
}
.containerInNavBar {
  padding-top: 50px;
    padding-bottom: 20px;
}

#loading-bar .bar {
  background: #44b1ff
}
#loading-bar-spinner .spinner-icon {
  border-top-color:  #44b1ff;
  border-left-color: #44b1ff;
}
#loading-bar .peg {
  -moz-box-shadow: #0067b1 1px 0 6px 1px;
  -ms-box-shadow: #0067b1 1px 0 6px 1px;
  -webkit-box-shadow: #0067b1 1px 0 6px 1px;
  box-shadow: #0067b1 1px 0 6px 1px;
}

/*---appointments classe---*/
.eventAvailable {
    background: #30b602;
    border: 1px solid #9AE089;
}

.eventUnavailable {
    background: #d93535;
    border: 1px solid #FF9797 ;
}
/*
    turn off rounded borders for appointments
.fc-event {
    border-radius: 0px;
}
*/
.fc-agendaWeek-view tr {
    height: 40px;
    border-bottom: solid 1px #dedcdc;
}

.fc-agendaDay-view tr {
    height: 40px;
}

/* below part is for different coloring odd and even colums - soft grey color - need some adjustments because of how fullcalendar is rendering the table*/
/* thead th:nth-of-type(odd), */
.fc-widget-content td:nth-of-type(odd) {
	background: rgba(240,240,240,0.5);
}

/*below definition may be removed after switching to angular material - no it is like that because bootstrap template css is making h2 on md dialog toolbar in black color*/
.md-toolbar-tools h2 {
    color: #fff;
}

/* this is to set the width of side nav - the width is hardcoded and maybe it's not the best way*/
md-sidenav, 
md-sidenav.md-closed.md-locked-open-add-active {
    min-width: 250px !important;
    width: 85vw !important;
    max-width: 250px !important;
} 