
<div layout="column" data-ng-controller="sideNavController as sn">

  
    <div layout="row" layout-fill>

        <md-sidenav  layout="column" md-is-locked-open="$mdMedia('gt-sm')" class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
            <md-button  data-ng-controller="indexController" data-ng-click="logOut()" class="md-primary" type="button">Logout</md-button>
    
        </md-sidenav>
        <div layout="column" id="content">
            <md-content >
                <md-toolbar style="min-height:50px !important; height:50px !important;" layout="row">
                    <md-button hide-gt-sm data-ng-click="toggleList()" style="min-width:50px;">
                        <md-icon class="material-icons md-accent">menu</md-icon>
                    </md-button>
                    <div class="md-toolbar-tools" style="height:inherit !important;">
                        <span></span>
                        <!-- fill up the space between left and right area -->
                        <span flex></span>
                        <md-button style="min-width:18px;">
                            <md-icon class="material-icons md-accent">search</md-icon>                          
                        </md-button>
                        <md-menu  md-position-mode="target-right target">
                            <md-button style="min-width:18px;" data-ng-click="openMenu($mdOpenMenu, $event)">
                                <md-icon class="material-icons md-accent">more vert</md-icon>
                            </md-button>
                            <md-menu-content width="3">
                                <md-menu-item>
                                    <md-button style="min-width:18px;" data-ng-click="changeView('agendaDay')">
                                        <md-icon class="material-icons md-accent">more vert</md-icon>
                                        day
                                    </md-button>
                                    <md-button style="min-width:18px;" data-ng-click="changeView('agendaWeek')">
                                        <md-icon class="material-icons md-accent">more vert</md-icon>
                                        week
                                    </md-button>
                                    <md-button style="min-width:18px;" data-ng-click="changeView('month')">
                                        <md-icon class="material-icons md-accent">more vert</md-icon>
                                        month
                                    </md-button>
                                    <md-button style="min-width:18px;" data-ng-click="changeView('today')">
                                        <md-icon class="material-icons md-accent">more vert</md-icon>
                                       today
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                       
                    </div>
                </md-toolbar>

                <div class="col-md-10 col-md-offset-1">
                    <div id="calendar" ui-calendar="uiConfig.calendar" class="span8 calendar" ng-model="eventSources" hb-touchmove="IsTouchMove=true" hb-touchend="IsTouchMove=false" calendar="myCalendar"></div>
                </div>
            </md-content>
        </div>
    </div>
</div>

    <script type="text/ng-template" id="dialog1.tmpl.html">
        <md-dialog aria-label="Mango (Fruit)" ng-cloak>
            <form>
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2>Add {{ oNewAppointment.StartDate.format('DD-MM-YYYY HH:mm')}} - {{ oNewAppointment.EndDate.format('HH:mm') }}</h2>
                        <span flex></span>
                        <md-button class="md-icon-button" ng-click="DialogCancel()">
                            <i class="material-icons">clear</i>
                        </md-button>
                    </div>
                </md-toolbar>

                <md-dialog-content>
                    <div class="md-dialog-content">
                        <div>
                            <h2>Details</h2>
                            <md-switch ng-model="oNewAppointment.IsAvailable" aria-label="Available">
                                Available
                            </md-switch>
                        </div>
                        <p ng-show="oNewAppointment.IsAvailable">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>First name</label>
                                <input ng-model="oNewAppointment.Patient.PatientName">
                            </md-input-container>

                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Phone</label>
                                <input ng-model="oNewAppointment.Patient.PhoneNumber">
                            </md-input-container>
                        </p>

                    </div>
                </md-dialog-content>

                <md-dialog-actions layout="row">
                    <md-button ng-click="DialogDeleteAppointment()">
                        <md-icon class="material-icons">delete</md-icon>
                    </md-button>
                    <span flex></span>
                    <md-button ng-click="DialogAddAppointment()">
                        <md-icon class="material-icons">check_circle</md-icon>
                    </md-button>
                    <md-button ng-click="DialogCancel()">
                        <md-icon class="material-icons md-accent">cancel</md-icon>
                    </md-button>
                </md-dialog-actions>
            </form>
        </md-dialog>
    </script>
