<div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>

    <div class="col-md-8">
        <div ui-calendar="uiConfig.calendar" class="span8 calendar" ng-model="eventSources" hb-touchmove="IsTouchMove=true" hb-touchend="IsTouchMove=false" ></div>               
    </div>
    <div class="col-md-2">
        &nbsp;
    </div>

    
</div>

<script type="text/ng-template" id="dialog1.tmpl.html">
    <md-dialog aria-label="Mango (Fruit)" ng-cloak>
        <form>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <p>Add {{ oNewAppointment.StartDate.format('DD-MM-YYYY HH:mm')}} - {{ oNewAppointment.EndDate.format('HH:mm') }}</p>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="cancel()">
                        <!--<md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>-->
                    </md-button>
                </div>
            </md-toolbar>

            <md-dialog-content>
                <div class="md-dialog-content">
                    <div>
                        <h2>Details</h2>
                        <md-switch ng-model="oNewAppointment.IsAvailable" aria-label="Available">
                            Available
                        </md-switch>
                    </div>
                    <p ng-show="oNewAppointment.IsAvailable">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>First name</label>
                            <input ng-model="oNewAppointment.Patient.PatientName">
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Phone</label>
                            <input ng-model="oNewAppointment.Patient.PhoneNumber">
                        </md-input-container>
                    </p>
                    
                </div>
            </md-dialog-content>

            <md-dialog-actions layout="row">
                <span flex></span>
                <md-button ng-click="cancel()">
                    Cancel
                </md-button>
                <md-button ng-click="answer('useful')" style="margin-right:20px;">
                    Add
                </md-button>
            </md-dialog-actions>
        </form>
    </md-dialog>
</script>