
<form layout="column" layout-align="center center" layout-fill="layout-fill" class="containerInNavBar">
    <md-content layout="column" class="md-padding">
        <p class="md-body-2">Please enter your email to retrieve password reset link.</p>
        <md-input-container>
            <input ng-model="loginData.email" type="email" placeholder="Email" required autofocus>
        </md-input-container>
        <div layout="column" layout-align="center center">
            <md-button style="text-transform:none !important" type="submit" class="md-primary" data-ng-click="retrievePasswordReset()">SUBMIT</md-button>
        </div>
    </md-content>

    <div layout="column" layout-align="center center">
        <md-progress-circular md-mode="{{isProcessing ? 'indeterminate' : 'null'}}" md-diameter="96"></md-progress-circular>
        <p style="text-align:center" ng-style="{'visibility': isProcessing ? 'visible':'hidden'}">{{progressMessage}}</p>
    </div>
</form>
