
<div class="col-md-12 containerInNavBar" style="margin-top:50px;" >
    <div class="col-md-6 col-md-offset-3" data-ng-hide="message == ''" data-ng-class="(retrieveSuccess) ? 'alert alert-success' : 'alert alert-danger'">
       <p style="text-align:center">{{message}}</p>
    </div>

    <div class="col-md-12">
        <form layout="column" layout-align="center center" ng-style="{'visibility': retrieveSuccess ? 'hidden':'visible'}" role="form">
            <p class="md-body-2">Please enter your email to retrieve password reset link.</p>
            <md-input-container>
                <input ng-model="loginData.email" type="email" placeholder="Email" required autofocus>
            </md-input-container>
             <div layout="column" layout-align="center center">
                <md-button style="text-transform:none !important" type="submit" class="md-primary" data-ng-click="retrievePasswordReset()">SUBMIT</md-button>
            </div>
        </form>

    </div>

        <div class="col-md-12">
            <div layout="column" layout-align="center center">
                <md-progress-circular md-mode="{{isProcessing ? 'indeterminate' : 'null'}}" md-diameter="96"></md-progress-circular>
                <p style="text-align:center" ng-style="{'visibility': isProcessing ? 'visible':'hidden'}">{{progressMessage}}</p>
            </div>
        </div>


    </div>
