<form  layout="column" layout-align="center center" layout-fill="layout-fill">
    <div layout="column" class="loginBox md-whiteframe-z1 containerInNavBar" role="form">
        <md-toolbar>
            <h2 class="md-toolbar-tools"><span>Login</span></h2>
        </md-toolbar>
        <md-content layout="column" class="md-padding">
            <md-input-container>
                <label>Email</label>
                <input type="email" data-ng-model="loginData.email" />
            </md-input-container>
            <md-input-container>
                <label>Password</label>
                <input type="password" data-ng-model="loginData.password" />
            </md-input-container>
            <div layout="column" layout-align="center left">
                <md-checkbox data-ng-model="loginData.remember"><small class="md-caption">Remember Me </small> </md-checkbox>
            </div>

            <div layout="row" layout-align="center center" style="padding-top:20px;">
                <md-button class="md-raised md-primary" type="submit" data-ng-click="login()">Login</md-button>
                <div flex="flex"></div>
                <md-button style="text-transform:none !important" href="" md-no-ink="md-no-ink" class="md-primary" ng-href="#/forgotpassword"><small class="md-caption">Forgot Password?</small></md-button>
            </div>

            <div data-ng-hide="message == ''" class="alert alert-danger">
                {{message}}
            </div>
        </md-content>
    </div>
</form>