
<form layout="column" layout-align="center center" ng-style="{'visibility': resetSuccess ? 'hidden':'visible'}" role="form">
    <div layout="column">
        <p class="md-body-2">Please enter your new password.</p>
        <md-input-container>
            <input ng-model="newPassword.password" type="password" placeholder="Password" required autofocus>
        </md-input-container>

        <md-input-container>
            <input ng-model="newPassword.confirmPassword" type="password" placeholder="Confirm Password" required>
        </md-input-container>

        <div layout="column" layout-align="center center">
            <md-button style="text-transform:none !important" type="submit" class="md-primary" data-ng-click="passwordReset()">SUBMIT</md-button>
        </div>
    </div>         
</form>

<div layout="column" layout-align="center center">
    <md-progress-circular md-mode="{{isProcessing ? 'indeterminate' : 'null'}}" md-diameter="96"></md-progress-circular>
</div>

          



