
<form layout="column" layout-align="center center" layout-fill="layout-fill" class="containerInNavBar">
    <div  layout="column" 
         class="loginBox md-whiteframe-z1" role="form">
        <md-toolbar>
            <h2 class="md-toolbar-tools"><span>Sign Up</span></h2>
        </md-toolbar>
        
        <md-content layout="column" class="md-padding">
            <md-input-container class="md-icon-float md-block">
                <label>Email</label>
                <md-icon style="width:36px;" class="material-icons md-accent">mail</md-icon>
                <input type="email" data-ng-model="registration.email" />
            </md-input-container>
            <md-input-container class="md-icon-float md-block">
                <label>Name</label>
                <md-icon style="width:36px;" class="material-icons md-accent">account_circle</md-icon>
                <input type="text" data-ng-model="registration.fullName" />
            </md-input-container>
            <md-input-container class="md-icon-float md-block">
                <label>Password</label>
                <md-icon style="width:36px;" class="material-icons md-accent">lock_outline</md-icon>
                <input type="password" data-ng-model="registration.password" />
            </md-input-container>
            <md-input-container class="md-icon-float md-block">
                <label>Confirm Password</label>
                <md-icon style="width:36px;" class="material-icons md-accent">lock</md-icon>
                <input type="password" data-ng-model="registration.confirmPassword" />
            </md-input-container>
            <div layout="column" layout-align="center center">
                <md-button class="md-raised md-primary" type="submit" data-ng-click="signUp()">Submit</md-button>
            </div>
            <div layout="column" layout-align="center center">
                <small>Already have an account? <a ng-href="#/login">Login</a></small>
            </div>      
        </md-content>
        <div layout="row" layout-align="center center">
            <md-progress-circular md-mode="{{isProcessing ? 'indeterminate' : 'null'}}" md-diameter="96"></md-progress-circular>
        </div>
      
    </div>
    
      
</form>



  