/*#mainContainer {
    padding-top: 50px;
    padding-bottom: 20px;
}*/

html *
{
   
}
.containerInNavBar {
  padding-top: 50px;
    padding-bottom: 20px;
}

#loading-bar .bar {
  background: tomato
}
#loading-bar-spinner .spinner-icon {
  border-top-color:  tomato;
  border-left-color: tomato;
}
#loading-bar .peg {
  -moz-box-shadow: darkred 1px 0 6px 1px;
  -ms-box-shadow: darkred 1px 0 6px 1px;
  -webkit-box-shadow: darkred 1px 0 6px 1px;
  box-shadow: darkred 1px 0 6px 1px;
}

/*---appointments classe---*/
.eventAvailable {
    background: #30b602;
    border: 1px solid #9AE089;
}

.eventUnavailable {
    background: #d93535;
    border: 1px solid #FF9797 ;
}
/*
    turn off rounded borders for appointments
.fc-event {
    border-radius: 0px;
}
*/
.fc-agendaWeek-view tr {
    height: 40px;
    border-bottom: solid 1px #dedcdc;
}

.fc-agendaDay-view tr {
    height: 40px;
}

/* below part is for different coloring odd and even colums - soft grey color - need some adjustments because of how fullcalendar is rendering the table*/
/* thead th:nth-of-type(odd), */
.fc-widget-content td:nth-of-type(odd) {
	background: rgba(240,240,240,0.5);
}

/*below definition may be removed after switching to angular material - no it is like that because bootstrap template css is making h2 on md dialog toolbar in black color*/
.md-toolbar-tools h2 {
    color: #fff;
}

/* this is to set the width of side nav - the width is hardcoded and maybe it's not the best way*/
md-sidenav, 
md-sidenav.md-closed.md-locked-open-add-active {
    min-width: 270px !important;
    width: 85vw !important;
    max-width: 270px !important;
    background-color:#f9f9f9;
} 
/*Fixing sidenav*/
.ng-scope, #mainContainer { height: 100%; }

/*Login and Signup boxes*/
.loginBox {
  max-width:  90%;
  width: 500px
}

.stretch input  {
  width: 100%
}


/*Toast notifications*/
md-toast.md-success-toast-theme .md-toast-content {
    background-color:lightgreen;
}

md-toast.md-error-toast-theme .md-toast-content {
    background-color: crimson;
}

md-toast.md-info-toast-theme .md-toast-content {
    background-color: burlywood;
}


md-toast {
  position: fixed;
}

md-bottom-sheet {
    background-color:#e6e6e6;
    max-height:300px;
}

.left-nav-md-list {
    border-top-left-radius:10px; 
    border-bottom-left-radius:10px; 
    border-left:solid 0.1px 
    lightgrey; 
    border-bottom:solid 0.1px lightgrey; 
    margin-left:30px;
}

.animate-show {
  opacity:1;
}

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition:all linear 0.2s;
  transition:all linear 0.2s;
}

.animate-show.ng-hide {
  line-height:0;
  opacity:0;
  padding:0 30px;
}


.toggleButton {
    -ms-transform: rotate(180deg)  !important; /* IE 9 */
    -webkit-transform: rotate(180deg) !important; /* Chrome, Safari, Opera */
    transform: translate3d(0,-50%,0) rotate(180deg) !important;
    transition:all linear 0.2s;
}





