
<div layout="column"> 
    <div layout="row" layout-fill>
        <md-sidenav  layout="column" md-is-locked-open="$mdMedia('gt-sm')" class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
            <md-button  data-ng-controller="leftNavController" data-ng-click="logOut()" class="md-primary" type="button">Logout</md-button>    
        </md-sidenav>
        <div layout="column" id="content">
            <md-content data-ng-controller="topNavController">
                <md-toolbar style="min-height:50px !important; height:50px !important;" layout="row" ng-show="!showSearch">
                    <md-button hide-gt-sm data-ng-click="toggleList()" style="min-width:50px;">
                        <md-icon class="material-icons md-accent">menu</md-icon>
                    </md-button>
                    <div class="md-toolbar-tools" style="height:inherit !important;">
                        <span></span>
                        <!-- fill up the space between left and right area -->
                        <span flex></span>
                        <md-button style="min-width:24px;" data-ng-click="showSearch = !showSearch">
                            <md-icon class="material-icons md-accent">search</md-icon>
                        </md-button>
                        <md-menu md-position-mode="target-right target">
                            <md-button style="min-width:24px;" data-ng-click="openMenu($mdOpenMenu, $event)">
                                <md-icon class="material-icons md-accent">more_vert</md-icon>
                            </md-button>
                            <md-menu-content width="3">
                                <md-menu-item>
                                    <md-button style="min-width:36px; height:unset !important;" data-ng-click="changeView('agendaDay')">
                                        <md-icon class="material-icons md-accent">view_day</md-icon>
                                        day
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button style="min-width:36px; height:unset !important;" data-ng-click="changeView('agendaWeek')">
                                        <md-icon class="material-icons md-accent">view_week</md-icon>
                                        week
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button style="min-width:36px; height:unset !important;" data-ng-click="changeView('month')">
                                        <md-icon class="material-icons md-accent">date_range</md-icon>
                                        month
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button style="min-width:36px; height:unset !important;" data-ng-click="changeView('today')">
                                        <md-icon class="material-icons md-accent">today</md-icon>
                                        today
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </div>
                </md-toolbar>               
                
                <md-toolbar class="md-hue-1" 
                            ng-show="showSearch" 
                            style="min-height:50px !important; height:50px !important;">
                    <div class="md-toolbar-tools">
                        <md-button ng-click="showSearch = !showSearch" aria-label="Back" style="min-width:24px;">
                            <md-icon class="material-icons md-accent">arrow_back</md-icon>
                        </md-button>
                        <div md-theme="input" flex>
                            <md-autocomplete  id="AutoCompleteToolbar" 
                                             md-no-cache="true"                                                                                                                                  
                                             md-search-text="searchText"                                             
                                             md-items="item in querySearch(searchText)"
                                             md-item-text="item.PatientName"
                                             md-selected-item="item"
                                             md-selected-item-change="showPatient(item)"
                                             md-min-length="1"
                                             md-match-case-insensitive="true"
                                             md-select-on-match="false"
                                             placeholder="search clients">
                                <md-item-template>
                                    <a flex>
                                        <span 
                                              md-highlight-text="item.PatientName"                                              
                                              md-highlight-flags="^i">{{item.PatientName}}</span>
                                        <strong>:: {{item.PhoneNumber}} </strong> 
                                    </a>                                   
                                </md-item-template>
                                <md-not-found>                                   
                                    <a flex ng-click="createNewPatient(searchText)">Create new client: <strong>{{searchText}}</strong></a>
                                </md-not-found>
                            </md-autocomplete>
                        </div>
                        
                    </div>

                </md-toolbar>
                
                <div id="calendar" ui-calendar="uiConfig.calendar" class="span8 calendar" ng-model="eventSources" hb-touchmove="IsTouchMove=true" hb-touchend="IsTouchMove=false" calendar="myCalendar"></div>               
            </md-content>
        </div>
    </div>
</div>

    <script type="text/ng-template" id="dialog1.tmpl.html">
        <md-dialog aria-label="Mango (Fruit)" ng-cloak>
            <form>
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h5>{{ oNewAppointment.StartDate.format('DD-MM-YYYY HH:mm')}} - {{ oNewAppointment.EndDate.format('HH:mm') }}</h5>
                        <span flex></span>
                        <md-button class="md-icon-button" ng-click="DialogCancel()">
                            <i class="material-icons">clear</i>
                        </md-button>
                    </div>
                </md-toolbar>
                <md-dialog-content>
                    <div class="md-dialog-content">
                         <h4>Details</h4>
                         <md-switch ng-model="oNewAppointment.IsAvailable" aria-label="Available">
                             Available
                         </md-switch>

                        <div ng-show="oNewAppointment.IsAvailable">                               
                                <md-input-container class="md-icon-float md-block" flex-gt-sm id="nameBox" style="margin-top: 20px !important;" >
                                    <label>Name</label>
                                    <md-icon style="width:36px; margin-top: 10px;" class="material-icons md-accent">person</md-icon>                                  
                                    <div layout="column">
                                        <md-autocomplete id="AutoComplete"
                                                         md-no-cache="true"                                                       
                                                         md-search-text-change="searchTextChange(searchText)"
                                                         md-search-text="searchText"
                                                         md-selected-item-change="selectedItemChange(item)"
                                                         md-selected-item="selectedItem"
                                                         md-items="item in querySearch(searchText)"
                                                         md-item-text="item.PatientName"
                                                         md-min-length="1"
                                                         placeholder="Type a client name">
                                            <md-item-template>                                                                                                                         
                                             <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.PatientName}} </span> <strong>  {{item.PhoneNumber}}</strong>                                            
                                            </md-item-template>   
                                            <md-not-found>
                                                <a flex >New: <strong>{{searchText}}</strong></a>
                                           </md-not-found>                                                             
                                        </md-autocomplete>
                                    </div>
                                </md-input-container>                               
                                <md-input-container class="md-icon-float md-block" 
                                                    flex-gt-sm id="phoneBox" 
                                                    style="margin-top:12px;">
                                    <label>Phone</label>
                                    <md-icon style="width:36px;" class="material-icons md-accent">call</md-icon>
                                    <input type="tel" ng-model="oNewAppointment.Patient.PhoneNumber" ng-readonly="!isPhoneNumEditable">
                                </md-input-container>
                               
                          </div>
                        <md-input-container class="md-block">
                            <label>Note</label>
                            <textarea ng-model="oNewAppointment.AppointmentNote" md-maxlength="300" rows="5" md-select-on-focus></textarea>
                        </md-input-container>
                      </div>
                </md-dialog-content>
                <md-dialog-actions layout="row">
                    <md-button ng-click="DialogDeleteAppointment()">
                        <md-icon class="material-icons">delete</md-icon>
                    </md-button>
                    <span flex></span>
                    <md-button ng-click="DialogAddAppointment()">
                        <md-icon class="material-icons">check_circle</md-icon>
                    </md-button>
                    <md-button ng-click="DialogCancel()">
                        <md-icon class="material-icons md-accent">cancel</md-icon>
                    </md-button>
                </md-dialog-actions>
            </form>
        </md-dialog>
    </script>

<script type="text/ng-template" id="createNewPatient">
    <md-dialog aria-label="Mango (Fruit)">
        <form>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <md-icon class="material-icons md-accent">person</md-icon>                   
                    <h5 style="margin-left:8px;">{{newPatient.patientName}}</h5>
                    <span flex></span>                    
                    <md-button class="md-icon-button" ng-click="DialogCancel()">
                        <md-icon class="material-icons md-accent">close</md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-dialog-content style="max-width:800px;max-height:810px; ">            
              <md-content class="md-padding">
                  <md-input-container class="md-icon-float md-block" flex-gt-sm style="margin-top: 20px !important;">
                      <label>Name</label>
                      <md-icon style="width:36px; margin-top: 10px;" class="material-icons md-accent">person</md-icon>
                      <input type="text" ng-model="newPatient.patientName">
                  </md-input-container>                    
                  <md-input-container class="md-icon-float md-block"
                                      flex-gt-sm id="phoneBox"
                                      style="margin-top:12px;">
                      <label>Phone</label>
                      <md-icon style="width:36px;" class="material-icons md-accent">call</md-icon>
                      <input type="tel" ng-model="newPatient.phoneNumber">
                  </md-input-container>                     
                  <md-input-container class="md-block">
                      <label>Note</label>
                      <textarea ng-model="newPatient.note" md-maxlength="300" rows="5" md-select-on-focus></textarea>
                  </md-input-container>                                                              
              </md-content>
            </md-dialog-content>
            <md-dialog-actions layout="row">
                <span flex></span>
                <md-button ng-click="DialogSavePatient()">
                    <md-icon class="material-icons">check_circle</md-icon>
                </md-button>
                <md-button ng-click="DialogCancel()">
                    <md-icon class="material-icons md-accent">cancel</md-icon>
                </md-button>
            </md-dialog-actions>

        </form>
    </md-dialog>
</script>

<script type="text/ng-template" id="showPatientData">
    <md-dialog aria-label="Mango (Fruit)">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <md-icon class="material-icons md-accent">person</md-icon>
                    <h5 style="margin-left:8px;">{{existingPatient.patientName}}</h5>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="DialogCancel()">
                        <md-icon class="material-icons md-accent">close</md-icon>
                    </md-button>
                </div>
            </md-toolbar>
        <md-dialog-content style="max-width:800px;max-height:810px; ">
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="data">
                    <md-content class="md-padding">
                        <md-input-container class="md-icon-float md-block" flex-gt-sm style="margin-top: 20px !important;">
                            <label>Name</label>
                            <md-icon style="width:36px; margin-top: 10px;" class="material-icons md-accent">person</md-icon>
                            <input type="text" ng-model="existingPatient.patientName">
                        </md-input-container>
                        <md-input-container class="md-icon-float md-block"
                                            flex-gt-sm id="phoneBox"
                                            style="margin-top:12px;">
                            <label>Phone</label>
                            <md-icon style="width:36px;" class="material-icons md-accent">call</md-icon>
                            <input type="tel" ng-model="existingPatient.phoneNumber">
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Note</label>
                            <textarea ng-model="existingPatient.note" md-maxlength="1000" rows="10" md-select-on-focus></textarea>
                        </md-input-container>
                    </md-content>
                 </md-tab>
                <md-tab label="history">
                    <md-content class="md-padding">
                        <md-list flex>
                            <md-subheader class="md-no-sticky">Appointment History</md-subheader>
                            <md-list-item class="md-2-line" ng-repeat="item in patientAppointments" ng-click="null">
                                <md-icon class="material-icons md-accent">today</md-icon>
                                <div class="md-list-item-text" layout="column">
                                    <h3>{{ toUTCString(item.StartDate) | date:'MM/dd/yyyy @ h:mma'}}</h3>
                                    <p>{{ item.AppointmentNote }}</p>
                                </div>
                                <md-divider></md-divider>
                            </md-list-item>
                           
                        </md-list>
                    </md-content>
                </md-tab>
              </md-tabs>
        </md-dialog-content>
            <md-dialog-actions layout="row">
                <md-button ng-click="DialogDeletePatient()">
                    <md-icon class="material-icons">delete</md-icon>
                </md-button>
                <span flex></span>
                <md-button ng-click="DialogUpdatePatient()">
                    <md-icon class="material-icons">check_circle</md-icon>
                </md-button>
                <md-button ng-click="DialogCancel()">
                    <md-icon class="material-icons md-accent">cancel</md-icon>
                </md-button>
            </md-dialog-actions>
    </md-dialog>
</script>