
<div layout="column" data-ng-controller="sideNavController as sn"> 
    <div layout="row" layout-fill>
        <md-sidenav  layout="column" md-is-locked-open="$mdMedia('gt-sm')" class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
            <md-button  data-ng-controller="indexController" data-ng-click="logOut()" class="md-primary" type="button">Logout</md-button>    
        </md-sidenav>
        <div layout="column" id="content">
            <md-content>
                <md-toolbar style="min-height:50px !important; height:50px !important;" layout="row">
                    <md-button hide-gt-sm data-ng-click="toggleList()" style="min-width:50px;">
                        <md-icon class="material-icons md-accent">menu</md-icon>
                    </md-button>
                    <div class="md-toolbar-tools" style="height:inherit !important;">
                        <span></span>
                        <!-- fill up the space between left and right area -->
                        <span flex></span>
                        <md-button style="min-width:24px;">
                            <md-icon class="material-icons md-accent">search</md-icon>
                        </md-button>
                        <md-menu md-position-mode="target-right target">
                            <md-button style="min-width:24px;" data-ng-click="openMenu($mdOpenMenu, $event)">
                                <md-icon class="material-icons md-accent">more_vert</md-icon>
                            </md-button>
                            <md-menu-content width="3">
                                <md-menu-item>
                                    <md-button style="min-width:36px; height:unset !important;" data-ng-click="changeView('agendaDay')">
                                        <md-icon class="material-icons md-accent">view_day</md-icon>
                                        day
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button style="min-width:36px; height:unset !important;" data-ng-click="changeView('agendaWeek')">
                                        <md-icon class="material-icons md-accent">view_week</md-icon>
                                        week
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button style="min-width:36px; height:unset !important;" data-ng-click="changeView('month')">
                                        <md-icon class="material-icons md-accent">date_range</md-icon>
                                        month
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button style="min-width:36px; height:unset !important;" data-ng-click="changeView('today')">
                                        <md-icon class="material-icons md-accent">today</md-icon>
                                        today
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </div>
                </md-toolbar>               
                <div id="calendar" ui-calendar="uiConfig.calendar" class="span8 calendar" ng-model="eventSources" hb-touchmove="IsTouchMove=true" hb-touchend="IsTouchMove=false" calendar="myCalendar"></div>               
            </md-content>
        </div>
    </div>
</div>

    <script type="text/ng-template" id="dialog1.tmpl.html">
        <md-dialog aria-label="Mango (Fruit)" ng-cloak>
            <form>
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2>{{ oNewAppointment.StartDate.format('DD-MM-YYYY HH:mm')}} - {{ oNewAppointment.EndDate.format('HH:mm') }}</h2>
                        <span flex></span>
                        <md-button class="md-icon-button" ng-click="DialogCancel()">
                            <i class="material-icons">clear</i>
                        </md-button>
                    </div>
                </md-toolbar>
                <md-dialog-content>
                    <div class="md-dialog-content">
                        <div>
                            <h2>Details</h2>
                            <md-switch ng-model="oNewAppointment.IsAvailable" aria-label="Available">
                                Available
                            </md-switch>
                        </div>
                        <div ng-show="oNewAppointment.IsAvailable">                               
                                <md-input-container class="md-icon-float md-block" flex-gt-sm id="nameBox" style="margin-top: 20px !important;" >
                                    <label>Name</label>
                                    <md-icon style="width:36px; margin-top: 10px;" class="material-icons md-accent">person</md-icon>                                  
                                    <div layout="column">
                                        <md-autocomplete id="AutoComplete"
                                                         md-no-cache="nocache"
                                                        
                                                         md-search-text-change="searchTextChange(searchText)"
                                                         md-search-text="searchText"
                                                         md-selected-item-change="selectedItemChange(item)"
                                                         md-items="item in querySearch(searchText)"
                                                         md-item-text="item.PatientName"
                                                         md-min-length="0"
                                                         placeholder="Type a client name">
                                            <md-item-template>                                                                                                                         
                                             <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.PatientName}} </span> <strong>  {{item.PhoneNumber}}</strong>                                            
                                            </md-item-template>                                                                
                                        </md-autocomplete>
                                    </div>
                                </md-input-container>                               
                                <md-input-container class="md-icon-float md-block" flex-gt-sm id="phoneBox" style="margin-top:12px;">
                                    <label>Phone</label>
                                    <md-icon style="width:36px;" class="material-icons md-accent">call</md-icon>
                                    <input type="tel" ng-model="oNewAppointment.Patient.PhoneNumber">
                                </md-input-container>
                               
                          </div>
                        <md-input-container class="md-block">
                            <label>Note</label>
                            <textarea ng-model="oNewAppointment.AppointmentNote" md-maxlength="300" rows="5" md-select-on-focus></textarea>
                        </md-input-container>
                      </div>
                </md-dialog-content>
                <md-dialog-actions layout="row">
                    <md-button ng-click="DialogDeleteAppointment()">
                        <md-icon class="material-icons">delete</md-icon>
                    </md-button>
                    <span flex></span>
                    <md-button ng-click="DialogAddAppointment()">
                        <md-icon class="material-icons">check_circle</md-icon>
                    </md-button>
                    <md-button ng-click="DialogCancel()">
                        <md-icon class="material-icons md-accent">cancel</md-icon>
                    </md-button>
                </md-dialog-actions>
            </form>
        </md-dialog>
    </script>
