    <div layout="column" class="md-whiteframe-z1 containerInNavBar" style="margin-top:150px;">
        <div class="col-md-12">
            <div layout="column" layout-align="center center">
                <md-button class="md-raised md-primary" href="#/login">Login</md-button>
            </div>
        </div>
        <div class="col-md-12">
            <div layout="column" layout-align="center center">
                <md-button class="md-raised md-primary" href="#/signup">Sign Up</md-button>
            </div>
        </div>
    </div>